html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: pink;
  color: white;
}

/* map hell*/
#map {
  top: 40%;
  width: 60%;
  height: 60%;
  text-align: center;;
}

/* input area */
header {
  left:20%;
  position: absolute;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input {
  left:20%;
  position: absolute;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow:5px 2.5px 2.5px grey;
  width: 150px;
  font-size: 20px;
}
button {
  left: 35%;
  position: absolute;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 2.5px 2.5px grey;
  padding: 5px;
  font-size: 20px;
}
button:hover {
  background: pink;
  color: white;
  animation: buttonmov:
}
  




/* arrow stuff */
.arrowup, .arrowdown {
  text-align: center;
  margin: 8% 0;
  color: white;
  left: 45%;
  z-index: 2;
  font-size: 40px;
}
.arrowup:hover {
  animation: arrowup 2s;
}
.arrowdown:hover {
  animation: arrowdown 2s;
}


/* arrow animation */
@keyframes arrowup {
  0, 100%, 20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(15px);
  }
  98% {
    transform: translateY(-1px);
  }
}
@keyframes arrowdown {
  0, 100%, 20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-15px);
  }
  98% {
    transform: translateY(1px);
  }
}

/* button animation */
@keyframes buttonmov {
}