html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: pink;
  color: white;
  cursor: crosshair;
  font-family: 'Ultra', serif;
}
body {
  display: flex;
}

nav {
  height: 100vh;
  width: 5%;
  background-color: grey;
  text-align: center;
}
nav:hover {
  animation: navslide;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  background-color: black;
  color: pink;
}

#popup {
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

#popup ul li {
  list-style-type: none;
}

.wrapper {
  width: 95%;
}
/*map here*/
#map {
  width: 100%;
  height: 60%;
  text-align: center;
  background-image: url("coverblack.gif");
  background-size: cover;
  position: relative;
  border-radius: 20px;
}
#map img {
  opacity: 0.1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

canvas.mapboxgl-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#input-section {
  text-align: center;
}
input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow:5px 2.5px 2.5px grey;
  width: 400px;
  font-size: 20px;
  font-family: 'Ultra', serif;
}
button {
  color: pink;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 2.5px 2.5px grey;
  padding: 5px;
  font-size: 20px;
  animation: buttonmov 1s ease-out .8s;
  font-family: 'Ultra', serif;
}
button:hover {
  background: black;
  color: pink;
}

#exp {
  font-size: 20px;
}
  
/* arrow stuff */
.arrowup {
background: red;
}
.arrowdown {
  background: red;
}
.arrowup, .arrowdown {
  text-align: center;
  margin: 8% 0;
  color: white;
  left: 45%;
  z-index: 2;
  font-size: 40px;
}
.arrowup:hover {
  animation: arrowup 2s;
}
.arrowdown:hover {
  animation: arrowdown 2s;
}
/* arrow animation */
@keyframes arrowup {
  0, 100%, 20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(15px);
  }
  98% {
    transform: translateY(-1px);
  }
}
@keyframes arrowdown {
  0, 100%, 20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-15px);
  }
  98% {
    transform: translateY(1px);
  }
}
/* button animation */
@keyframes buttonmov {
  0%{
    opacity:0;
    transform:translateY(10px);
  }
  100%{
    opacity:1;
    transform: scaleX(1.1) scaleY(1.1);
  }
}

@keyframes slidein {
  0%{
    opacity:0;
    transform:translateX(800px);
  }
  100%{
    opacity:1;
    transform: transalteX(0);
  }
}


